body {
  margin: 0;
  font-family: "Inter", sans-serif;
  text-align: center;
  background-color: white;

}
.container {
  max-width: 800px;
  margin: 30px;
  background-color: #1F2937;
}


.hero {
  background-color: #6943FF;
  color: white;
  padding: 20px;
}

input  {
  color: white;
  background-color: #6943FF;
  font-size: 58px;
  font-weight: 800;
  border: 2px solid #B295FF;
  border-radius: 4px;
  width: 130px;
  height: 83px;
  text-align: center;
  margin: 20px auto;
  
}
input::placeholder {
  color: white;
  opacity: 0.7;
  padding-left: 18px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  margin: 20px auto;
  width: 150px;
  font-weight: 600;
  justify-content: center;
  border-radius: 50px;
}

button:hover {
  background-color: #e0e0e0;
}

.results-section {
  color: white;
  padding: 10px;
  margin-top: 0px;
}
.results-section h3 {
  margin-bottom: 10px;
  color: #CCC1FF;
}
.conversion-result {
  background: #273549;
  padding: 5px;
  margin: 20px 25px;
  border-radius: 4px;
  width: 90%;
  height: 108px;
}

footer {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  color: #888;
  font-size: 14px;
  text-align: center;
  margin-top: 60px;
}
footer a {
  color: #CCC1FF;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}